@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  scroll-behavior: smooth; }

body {
  width: 1445px;
  font: normal 18px Roboto;
  margin: 40px auto; }
  body section, body header {
    padding: 0 250px;
    margin: 0 auto; }
  body header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    body header nav ul li {
      -webkit-appearance: listbox; }
      body header nav ul li a {
        color: #828282;
        text-decoration: none;
        font-weight: bold;
        line-height: 30px; }
        body header nav ul li a:hover {
          color: #000; }
  body header .header-title-block {
    margin: 35px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body header .header-title-block h1 {
      font: normal bold 47px/55px Roboto; }
    body header .header-title-block p {
      margin: 0 auto;
      -ms-flex-item-align: end;
      align-self: flex-end;
      line-height: 21px; }
  body header .header-slide {
    width: 100%;
    height: 400px;
    margin-bottom: 80px;
    background: url(../img/BSPP2266.png) bottom/cover;
    -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }
  body .about-me-block {
    height: 600px;
    background-color: #F6F6F6; }
    body .about-me-block h2 {
      font: normal bold 34px/40px Roboto;
      text-align: center;
      padding-top: 90px; }
    body .about-me-block p {
      margin-top: 60px;
      text-align: center;
      line-height: 21px; }
  body .skills-block h2 {
    font: normal bold 34px/40px Roboto;
    text-align: center;
    padding-top: 90px; }
  body .skills-block p {
    margin-top: 48px;
    text-align: center;
    line-height: 21px; }
  body .skills-block .icons-block {
    margin: 88px 0 110px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #828282; }
    body .skills-block .icons-block .fa-star {
      font-size: 25px;
      color: #E5E5E5; }
    body .skills-block .icons-block .checked {
      color: #000; }
    body .skills-block .icons-block .icon {
      text-align: center; }
      body .skills-block .icons-block .icon .name-program {
        display: block; }
      body .skills-block .icons-block .icon img {
        width: 92px;
        height: 89px; }
    body .skills-block .icons-block .icon:nth-child(4) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    body .skills-block .icons-block .name-program {
      margin: 22px 0 40px 0; }
  body .portfolio-block {
    padding: 90px 255px 128px 250px;
    background-color: #F6F6F6; }
    body .portfolio-block h2 {
      font: normal bold 34px/40px Roboto;
      text-align: center; }
    body .portfolio-block h3 {
      text-align: center; }
    body .portfolio-block a {
      color: #000; }
    body .portfolio-block .img-portfolio {
      width: 100%;
      height: 510px;
      margin: 90px 0 40px 0;
      background-size: cover;
      background-position: center;
      -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
      box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
      background-image: url(../img/Слой.png); }
    body .portfolio-block .img-portfolio:nth-child(2) {
      background-image: url(../img/Слой.png); }
    body .portfolio-block .img-portfolio:nth-child(4) {
      background-image: url(../img/reebok_web.png); }
    body .portfolio-block .img-portfolio:nth-child(6) {
      background-image: url(../img/reebok_web2.png); }
  body .contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 90px 255px 0 250px; }
    body .contacts-block h2 {
      font: normal bold 34px/40px Roboto;
      text-align: center; }
    body .contacts-block p {
      margin-top: 48px;
      text-align: center;
      line-height: 21px; }
    body .contacts-block .send-message {
      width: 180px;
      height: 42px;
      margin: 60px 0 90px 0;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 21px;
      cursor: pointer;
      outline: none; }
      body .contacts-block .send-message:active {
        padding-top: 5px; }
    body .contacts-block .social-media-block {
      width: 50%;
      margin-bottom: 164px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      body .contacts-block .social-media-block span {
        display: block;
        -webkit-transition: margin-top 0.1s ease-out 0s;
        -o-transition: margin-top 0.1s ease-out 0s;
        transition: margin-top 0.1s ease-out 0s; }
        body .contacts-block .social-media-block span:hover {
          margin-top: 5px; }
        body .contacts-block .social-media-block span img {
          width: 40px;
          height: 40px; }
