@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "mixins";


html {
    scroll-behavior: smooth;
}
body {
    width: 1445px;
    font: normal 18px Roboto;
    margin: 40px auto;
    section, header {
        padding: 0 250px;
        margin: 0 auto;
    }
    header {
        nav {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    -webkit-appearance: listbox;
                    a {
                        color: #828282;
                        text-decoration: none;
                        font-weight: bold;
                        line-height: 30px;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        .header-title-block {
            margin: 35px 0;
            display: flex;
            align-items: center;
            h1 {
                font: normal bold 47px/55px Roboto;
            }
            p {
                margin: 0 auto;
                align-self: flex-end;
                line-height: 21px;
            }
        }
        & .header-slide {
            width: 100%;
            height: 400px;
            margin-bottom: 80px;
            background: url(../img/BSPP2266.png) bottom / cover;
            box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
        }
    }
    .about-me-block {
        height: 600px;
        background-color: #F6F6F6;
        h2 {
            @include font-title;
            padding-top: 90px;
        }
        p {
            margin-top: 60px;
            text-align: center;
            line-height: 21px;
        }
    }
    .skills-block {
        h2 {
            @include font-title;
            padding-top: 90px;  
        }
        p {
            @include style-p;
        }
        & .icons-block {
            margin: 88px 0 110px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            color: #828282;
            .fa-star {
                font-size: 25px;
                color:#E5E5E5;
            }
            .checked {
                color: #000;
            }
            .icon {
                text-align: center;
                .name-program {
                    display: block;
                }
                img {
                    width: 92px;
                    height: 89px;
                }
            }
            & .icon:nth-child(4) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
            .name-program {
                margin: 22px 0 40px 0;
            }
        }
    }
    .portfolio-block {
        padding: 90px 255px 128px 250px;
        background-color: #F6F6F6;
        h2 {
            @include font-title;
        }
        h3 {
            text-align: center;
        }
        a {
            color: #000;
        }
        .img-portfolio {
            width: 100%;
            height: 510px;
            margin: 90px 0 40px 0;
            background-size: cover;
            background-position: center;
            box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
            background-image: url(../img/Слой.png);
        }
        .img-portfolio:nth-child(2) {
            background-image: url(../img/Слой.png);
        }
        .img-portfolio:nth-child(4) {
            background-image: url(../img/reebok_web.png);
        }
        .img-portfolio:nth-child(6) {
            background-image: url(../img/reebok_web2.png);
        }
    }
    .contacts-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px 255px 0 250px;;
        h2 {
            @include font-title;
        }
        p {
            @include style-p;
        }
        .send-message {
            width: 180px;
            height: 42px;
            margin: 60px 0 90px 0;
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 21px;
            cursor: pointer;
            outline: none;
            &:active {
                padding-top: 5px;
            }
        }
        .social-media-block {
            width: 50%;
            margin-bottom: 164px;
            display: flex;
            justify-content: space-evenly;
            span {
                display: block;
                transition: margin-top 0.1s ease-out 0s;
                &:hover {
                    margin-top: 5px;
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}